<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="DbType" value="SqlServer" />
    <add key="DbDescriptionGenType" value="Create" />
    <!-- 创建或更新
    <add key="DbDescriptionGenType" value="CreateOrUpdate" />-->
    <add key="GeneratePrivateField" value="false" />
    <add key="GenerateDescAttr" value="true" />
  </appSettings>
</configuration>