<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="DefaultConnString" value="server=localhost;database=testDb;uid=liweihan;pwd=Admin888" />
    <!--SqlServer-->
    <add key="DbType" value="SqlServer" />
    <!--MySql-->
    <!--<add key="DbType" value="MySql" />-->
    <!--PostgreSql-->
    <!--<add key="DbType" value="PostgreSql" />-->

    <add key="GeneratePrivateField" value="false" />
    <add key="GenerateDescAttr" value="true" />
  </appSettings>
</configuration>