<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ExcelTemplateDownloadLink" value="https://github.com/WeihanLi/DbTool/raw/wpf-dev/template.xlsx" />
    <add key="DefaultConnString" value="server=localhost;database=test;uid=sa;pwd=Admin888" />
    <!--SqlServer-->
    <add key="DbType" value="SqlServer" />
    <!--MySql-->
    <!--<add key="DbType" value="MySql" />-->

    <add key="GeneratePrivateField" value="false" />
    <add key="GenerateDataAnnotation" value="false" />
    <add key="GenerateDbDescription" value="true" />

    <add key="GlobalUsingEnabled" value="true" />
    <add key="NullableReferenceTypesEnabled" value="true" />
    <add key="FileScopedNamespaceEnabled" value="true" />
    <add key="DefaultCulture" value="zh" />
    <add key="SupportedCultures" value="zh,en" />
  </appSettings>
</configuration>